<center>
    <h1>Prohibited Page</h1>
    <p>You can't access this page directly!</p>
    <img src="/images/13962014_5404710.svg" alt="">
</center>


<style>
    img{
        width: 550px;
    }
    h1{
        margin-top: 150px;
    }
</style>